button {
  min-width: 50px;
  background-color: $orange;
  color: $white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

button.has-icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button.button-pill {
  background-color: transparent;
  border-radius: 30px;
  padding: 5px 10px;
  margin: 7px;
}

button.button-pill.active {
  background-color: $orange;
  transition: 0.1s;
}