button {
  min-width: 50px;
  background-color: $orange;
  color: $white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

button.has-icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button.button-pill {
  background-color: transparent;
  border-radius: 30px;
  padding: 5px 10px;
  margin: 7px;
}

button.button-pill.active {
  background-color: $orange;
  transition: 0.1s;
}

button.back-to-top-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 60px;
  height: 60px;
  z-index: 999;
  .svg-logo.icon-backtotop {
    transform: rotate(-90deg);
  }
  &:hover {
    transform: scale(0.95);
    transition: 0.15s;
  }
}
