nav#nav-bar {
  width: $navbar-width;
  position: absolute;
  top: 60px;
  display: flex;
  flex-direction: column;
  padding: 15px;
  .svg-logo {
    filter: $SVG_white;
  }
  .menu-close {
    margin: 15px auto 30px auto;
    cursor: pointer;
  }
  a {
    .nav-btn {
      display: flex;
      align-items: center;
      gap: 15px;
      font-family: 'Oswald';
      font-size: $heading-font-size;
      font-weight: bold;
      color: $white;
      &:hover {
        transform: scale(0.9);
        transition: 0.15s;
        .svg-logo {
          animation: iconShake 1.7s infinite;
        }
      }
      &:not(hover) {
        transform: scale(1);
        transition: 0.15s;
      }
    }
    .nav-btn.active {
      .svg-logo {
        animation: iconShake 1.7s infinite;
      }
      }
    // }
    &:hover {
      text-decoration: none;
    }
  }
  .nav-icon-note {
    color: $black;
    font-size: $small-font-size;
    margin-left: 65px;
    margin-bottom: 30px;
  }
}