.app-content.home-page {
  .homepage-aboutme {
    background-color: $orange2;
    position: relative;
    overflow: hidden;
    padding: 50px;
    z-index: -1;
    img.aboutme-portrait {
      position: absolute;
      width: 250px;
      border-radius: 50%;
      top: 40px;
      margin: 0 auto -50px -90px;
      filter: grayscale(60%) brightness(50%);
      z-index: -1;
    }
    div.background-text {
      position: absolute;
      top: 0px;
      right: -20px;
      -webkit-text-stroke: 2px $black3;
      color: rgba(0,0,0,0);
      font-family: 'Oswald';
      font-size: 100px;
      z-index: -1;
    }
    p {
      color: white;
      text-shadow: 0 0 3px $black;
      margin-bottom: 0.6em;
      filter: brightness(120%);
      b {
        font-weight: bolder;
      }
    }
  }
}