header {
  height: 80px;
  font-family: 'Oswald';
  display: flex;
  justify-content: space-evenly;
  .header-content {
    width: 100%;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    #brand-text {
      text-shadow: 0 0 3px $black;
      a {
        text-decoration: none;
        &:hover {
          text-decoration: none;
        }
      }
      h1 {
        color: $orange;
        margin: 0;
      }
      p {
        color: $white;
      }
      &:hover {
        transform: scale(0.95);
        transition: 0.25s;
      }
      &:not(hover) {
        transform: scale(1);
        transition: 0.25s;
      }
    }
    button.menu-btn {
      width: 90px;
      height: 58%;
      border-bottom: 1px solid $white;
      border-right: 1px solid $white;
      padding: 10px;
      font-weight: bold;
      text-transform: uppercase;
      .svg-logo.icon-menu {
        filter: $SVG_white;
        width: 30px;
      }
      &:hover {
        border: none;
        transform: translate(2px, 2px);
        .svg-logo.icon-menu {
          animation: iconShake 1.7s infinite;
        }
      }
    }
  }
}

@media only screen and (min-width: 1200px) {
  header {
    .header-content {
      width: 1148px;
      padding: 0;
    }
  }
}