header {
  font-family: 'Oswald';
  display: flex;
  justify-content: space-evenly;
  .header-content {
    width: 100%;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    #brand-text {
      &:hover {
        transform: scale(0.95);
        transition: 0.25s;
      }
      &:not(hover) {
        transform: scale(1);
        transition: 0.25s;
      }
    }
    a {
      text-decoration: none;
      &:hover {
        text-decoration: none;
      }
    }
    h1 {
      color: $orange;
      font-size: $heading-font-size;
    }
  }
}

@media only screen and (max-width: 767px) {
  header {
    .header-content {
      justify-content: space-evenly;
      #brand-text {
        display: none;
      }
    }
  }
}

@media only screen and (min-width: 1200px) {
  header {
    .header-content {
      width: 1148px;
      padding: 0;
    }
  }
}