@import "reset";
@import "typography";
@import "../abstracts/variables";

html {
  font-family: "Inter";
  font-size: $default-font-size;
  h1 {
    font-family: "Oswald";
    font-size: $heading-font-size;
    font-weight: bolder;
    margin-bottom: 0.5em;
  }
  p {
    letter-spacing: 0.03rem;
    line-height: 1.7;
    margin-bottom: 0.5em;
  }
  mark {
    background: $orange;
  }
  abbr {
    text-decoration: none;
  }
  .prevent-highlight {
    -webkit-user-select: none; // Safari
    -moz-user-select: none; // Firefox
    -ms-user-select: none; // IE10+/Edge
    user-select: none; // Standard
  }
}

.app-container {
  background-color: $orange;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  overflow-y: auto;
  overflow-x: hidden;
  a {
    text-decoration: none;
    color: $orange;
    &:hover {
      text-decoration: underline;
      transition: 0.2s;
    }
  }
  b {
    font-weight: bolder;
  }
  .app-content {
    transform: translate(0, 0);
    transition: 0.15s;
  }
  .app-content.collapsed {
    border-radius: 30px;
    overflow: hidden;
    transform: translate($navbar-width, 60px);
    transition: 0.3s;
  }
}

@media only screen and (min-width: 768px) {
  html {
    font-size: $default-desktops-font-size;
  }
}
