// Color Scheme
$white:     #ffffff;
$white2:    #eeeeee;
$white3:    #d0d0d0;
$black:     #000000;
$black2:    #1b1c1e;
$black3:    #303030;
$orange:    #f06449;
$orange2:   #a75241;
$blue:      #5bc3eb;

// SVG filters
$SVG_black:   none;
$SVG_white:   invert(99%) sepia(5%) saturate(1050%) hue-rotate(222deg) brightness(119%) contrast(100%);
$SVG_grey:    invert(86%) sepia(10%) saturate(8%) hue-rotate(45deg) brightness(95%) contrast(89%);
$SVG_blue:    invert(66%) sepia(86%) saturate(444%) hue-rotate(165deg) brightness(96%) contrast(92%);
$SVG_orange:  invert(59%) sepia(40%) saturate(3821%) hue-rotate(328deg) brightness(94%) contrast(101%);

// default variables
$default-font-size: 16px;
$default-desktops-font-size: 18px;
$small-font-size: 0.8rem;
$heading-font-size: 1.67rem;
$large-heading-font-size: 2.25rem;

$navbar-width: calc(min(270px, 50vw));


// dark-theme basics
$dark-background: $black2;
$dark-text-color: $white;
$dark-header-color: $black3;

// light-theme basics
$light-background: $white2;
$light-text-color: $black;
$light-header-color: $white3;

