.app-content.dark-theme {
  color: $dark-text-color;
  background-color: $dark-background;
  a:hover {
    color: $dark-text-color;
  }
  .svg-logo:not(.svg-logo.nav-icon) {
    filter: $SVG_white;
  }
  .app-content {
    header {
      .header-content {
        a {
          color: $dark-text-color;
          .svg-logo {
            filter: $SVG_white;
          }
        }
      }
    }
    aside {
      .search-bar {
        border: 2px solid $white2;
        &:focus-within {
          border: 2px solid $orange;
          transition: 0.25s;
        }
      }
    }
  }
  .app-content.portfolio-page {
    .homepage-aboutme {
      box-shadow: 5px 5px 0px $white;
    }
  }
}