.app-content.light-theme {
  color: $light-text-color;
  background-color: $light-background;
  a:hover {
    color: $light-text-color;
  }
  .svg-logo:not(.svg-logo.nav-icon, .svg-logo.icon-menu) {
    filter: $SVG_black;
  }
  .app-content {
    header {
      .header-content {
        a {
          color: $light-text-color;
        }
      }
    }
    aside {
      .search-bar {
        border: 2px solid $black2;
        &:focus-within {
          border: 2px solid $orange;
          transition: 0.25s;
        }
      }
    }
  }
  .app-content.portfolio-page {
    .homepage-aboutme {
      box-shadow: 5px 5px 0px $black;
    }
  }
}