.app-content.portfolio-page {
  .portfolio-summary {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto 60px auto;
    img.summary-portrait {
      width: 130px;
      border: 3px solid $orange;
      border-radius: 50%;
      margin-bottom: 20px;
    }
    h1 {
      font-size: 2.7rem;
      color: $orange;
    }
    p {
      width: 100%;
      text-align: justify;
    }
    .tech-list {
      width: 100%;
      .tech-list-icon {
        width: 70px;
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  .app-content.portfolio-page {
    .portfolio-summary {
      width: 80%;
      img.summary-portrait {
        width: 150px;
      }
      .tech-list {
        .tech-list-icon {
          width: 80px;
        }
      }
    }
  }
}
